<div class="bg-white">
  <!-- Header -->
  <%= render "header" %>

  <main class="isolate">
    <!-- Hero section -->
    <%= render "hero" %>

    <!-- Logo cloud -->
    <%#= render "logo" %>

    <!-- Feature section -->
    <%= render "feature" %>

    <!-- Testimonial section -->
    <%= render "testimonial" %>

    <!-- Pricing section -->
    <%#= render "pricing" %>

    <!-- FAQs -->
    <%#= render "faq" %>

    <!-- CTA section -->
    <%= render "cta" %>
  </main>

  <!-- Footer -->
  <%= render "footer" %>
</div>
