<div>
  <%= render 'works/product_menu' %>
  <main class="py-10 lg:pl-72">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <div class="px-4 sm:px-6 lg:px-8">

          <div class="md:flex md:items-center md:justify-between my-8">
            <div class="min-w-0 flex-1">
              <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">使用场景分析</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">汪汪会帮助你还原产品的使用场景，交付用户旅程地图帮助你理解用户</p>
            </div>
          </div>

          <%= form_with(model: @user_journey_map, url: works_product_user_journey_maps_path, local: true) do |form| %>
            <div class="space-y-12">
              <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">分析内容</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">请分享目前对产品的想法还有当前存在的挑战和困惑</p>

                <%= form.fields_for :prompt_forms do |pf_form| %>
                  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="col-span-full">
                      <%= pf_form.label :ideas, "产品想法", class: "block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= pf_form.text_area :ideas, required: true, rows: 3, placeholder: "你有什么产品灵感💡？（好奇脸）", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                      </div>
                    </div>

                    <div class="col-span-full">
                      <%= pf_form.label :challenges, "当下挑战", class: "block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= pf_form.text_area :challenges, required: true, rows: 3, placeholder: "汪汪想听听你分享目前的挑战和困惑喔！", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
              <%= link_to "取消", works_products_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
              <%= form.submit "分析", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
