<div>
  <%= render 'works/parent_menu' %>

  <main class="py-10 lg:pl-72">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <%= form_with model: @setting, url: settings_path, local: true do |form| %>
          <div class="px-4 sm:px-6 lg:px-8">
            <!-- Settings forms -->
            <div class="border-b border-gray-900/10 pb-12">
              <h2 class="text-base font-semibold leading-7 text-gray-900">汪汪小窝</h2>
              <p class="mt-1 text-sm leading-6 text-gray-600">这是你和汪汪的秘密基地</p>

              <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-2">
                  <%= form.label :nickname, "昵称", class: "block text-sm font-medium leading-6 text-gray-900" %>
                  <div class="mt-2">
                    <%= form.text_field :nickname, required: true, :placeholder => "汪汪可以如何称呼你呢？", :maxlength => 30, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-6 flex items-center justify-end gap-x-6">
            <%= form.submit "保存", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>

</div>
