<div class="max-w-full mx-auto bg-white shadow-lg rounded-lg p-5 text-black">
  <div class="mb-2">
    <p class=""><%= @resume.name %> | <%= @resume.gender %> | 电话：<%= @resume.phone_number %> | 邮箱：<%= @resume.email %></p>
  </div>
  <div class="mb-2">
    <% if local_assigns[:show_job_match] %>
      <div class="text-center border-b-2 border-gray-200 my-1">
        <h2 class="font-bold">职位匹配</h2>
      </div>
      <div>
        <p class="mt-2" id="job-match-preview" data-resume-target="jobMatchPreview"></p>
      </div>
    <% end %>

    <% if @resume.highlight_project_experience %>
      <!-- Highlight Project Experiences First -->
      <%= render 'project_experiences', experiences: @resume.project_work_experiences %>
      <%= render 'work_experiences', experiences: @resume.non_project_work_experiences, is_student: @resume.is_student? %>
    <% else %>
      <!-- Highlight Work Experiences First -->
      <%= render 'work_experiences', experiences: @resume.non_project_work_experiences, is_student: @resume.is_student? %>
      <%= render 'project_experiences', experiences: @resume.project_work_experiences %>
    <% end %>
  </div>
  <!-- Education Background-->
  <div>
    <div class="text-center border-b-2 border-gray-200 mb-1">
      <h2 class="font-bold">教育背景</h2>
    </div>
    <% @resume.educations.each do |education| %>
      <p class="mt-1">
        <%= education.school %> | <%= education.major %> | <%= education.start_date.strftime("%Y.%m") if education.start_date.present? %>-<%= education.end_date.strftime("%Y.%m") if education.end_date.present? %> | <%= education.degree %>
      </p>
    <% end %>
  </div>
</div>