<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>产品汪汪</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!--    turbo_include_tags should be placed before javascript_importmap_tags  -->
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Include Quill stylesheet -->
    <!-- TODO: use application.css to import css-->
    <link
      href="https://cdn.staticfile.net/quill/2.0.0-rc.2/quill.snow.css"
      rel="stylesheet"
      />
    <!-- Include the Swiper library -->
    <link href="https://cdn.bootcdn.net/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
    <!--  TODO: importmap  html2pdf -->
    <!--  lock version 0.9.3 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full">
    <%= render partial: "layouts/flash_message" %>
    <%= yield %>
  </body>
</html>
